:root {
    --background-color: #191825;
    --text-color: #865dff;
    --padding: 0;
    --margin: 0;
    --height: 100vh;
    --width: 20rem;
  }
  
  * {
    margin: var(--margin);
    padding: var(--padding);
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  .load {
    height: var(--height);
    display: grid;
    place-items: center;
    background-color: var(--background-color);
  }
  
  .spinner {
    width: var(--width);
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--text-color);
    position: relative;
    animation: Loader 2s linear infinite reverse;
  }
  
  @keyframes Loader {
    100% {
      rotate: 360deg;
    }
  }
  
  .spinner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 17rem;
    aspect-ratio: 1;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--background-color);
  }
  
  .spinner::after {
    content: "";
    position: absolute;
    top: -2.5rem;
    left: 8.5rem;
    width: 5rem;
    aspect-ratio: 1;
    z-index: 1;
    border-radius: 50%;
    background-color: var(--text-color);
    box-shadow: 0 0 1rem, 0 0 1.5rem var(--text-color),
      0 0 2rem var(--text-color), 0 0 2.5rem var(--text-color),
      0 0 3rem var(--text-color);
  }
  
  #main-content {
    display: none;
  }
  